<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Arama Bölümü </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" style="background-color: #333; border-color: #444; color: #fff;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: #fff;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: #fff;">Admin Paneli</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/otelekle" style="color: #fff;">Otel Ekle</a></li>
                    <li><a href="/admin/faaliyet" style="color: #fff;">Faaliyet Kontrol</a></li>
                    <li><a href="/admin/uyeler" style="color: #fff;">Üye İşlemleri</a></li>
                    <li><a href="/admin/arama" style="color: #fff;">Arama Ayarları</a></li>
                    <li><a href="/admin/sikayetler" style="color: #fff;">Şikayetler</a></li>
                    <li><a href="/admin/oteller" style="color: #fff;">Oteller</a></li>

                </ul>
            </div>
        </div>
    </nav>
    
    <br>
    <br>
    <div class="container">
        <h1><b>Arama Ayarları</b></h1>
        <br>

        
        <p>Seçilen kraterlere göre kullanıcı ve ziyaretçilerin önüne çıkacak olan otellerin belirlenmesi için kullanılan arama algoritmasıdır. Bu algoritma ile kullanıcıların arama sonuçlarında görmek istedikleri otellerin belirlenmesi sağlanır.

        </p>

        <h3><b>Otellerin Listesi</b></h3>


        <h4>Öne Çıkar</h4>

        <br>
        <br>
        <h3><b>Algoritma</b></h3>

        <h4>Kişiye özel çalışmalar</h4>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <br>
    <br>
    <div class="footer">
        2023 Tüm telif hakları saklıdır.
    </div>
</body>

</html>
