<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Admin Paneline Hoşgeldiniz!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    
 
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Paneli</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/otelekle" style="color: #fff;">Otel Ekle</a></li>
                    <li><a href="/admin/faaliyet" style="color: #fff;">Faaliyet Kontrol</a></li>
                    <li><a href="/admin/uyeler" style="color: #fff;">Üye İşlemleri</a></li>
                    <li><a href="/admin/arama" style="color: #fff;">Arama Ayarları</a></li>
                    <li><a href="/admin/sikayetler" style="color: #fff;">Şikayetler</a></li>
                    <li><a href="/admin/oteller" style="color: #fff;">Oteller</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="welcome-box">
            <h2>Admin Paneline Hoşgeldiniz!</h2>
            <p>Ne yapmak isterseniz, aşağıdaki menüden seçim yapabilirsiniz.</p>
            <ol>
                <li>Otel Ekle</li>
                <li>Faaliyet Kontrol</li>
                <li>İndirim Talebi</li>
                <li>Chatbot Ayarları</li>
                <li>Arama Ayarları</li>
                <li>Rezervasyon İptal Talebi</li>
            </ol>
            
        </div>
    </div>
    
    <div class="footer">
        <p>Tüm telif hakları saklıdır. SeeTravel 2023</p>
    </div>

    <script>
        function editHotel(button) {

            var row = button.parentNode.parentNode;
            var hotelName = row.cells[0].innerText;
            console.log("Düzenle: " + hotelName);
        }

        function deleteHotel(button) {

            var row = button.parentNode.parentNode;
            var hotelName = row.cells[0].innerText;
            console.log("Sil: " + hotelName);
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
