<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Otel Eklendi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Otel başarıyla eklendi!</h1>
            <p>Veritabanına yeni otel bilgileri başarıyla eklendi.</p>
        </div>
    </div>
</body>

</html>
