<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Otel Düzenleme Bölümü</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" style="background-color: #333; border-color: #444; color: #fff;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: #fff;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: #fff;">Admin Paneli</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/otelekle" style="color: #fff;">Otel Ekle</a></li>
                    <li><a href="/admin/faaliyet" style="color: #fff;">Faaliyet Kontrol</a></li>
                    <li><a href="/admin/indirim" style="color: #fff;">İndirim Talebi</a></li>
                    <li><a href="/admin/uyeler" style="color: #fff;">Üye İşlemleri</a></li>
                    <li><a href="/admin/arama" style="color: #fff;">Arama Ayarları</a></li>
                    <li><a href="/admin/sikayetler" style="color: #fff;">Şikayetler</a></li>
                    <li><a href="/admin/oteller" style="color: #fff;">Oteller</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <h1><b>Otel Bölümü</b></h1>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Otel ID</th>
                        <th>Otel Adı</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>Yıldız Derecesi</th>
                        <th>Check-in Saati</th>
                        <th>Check-out Saati</th>
                        <th>Oda Sayısı</th>
                        <th>Açıklama</th>
                        <th>Enlem</th>
                        <th>Boylam</th>
                        <th>Vergi Numarası</th>
                      
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hotel in hotels %}
                        <tr>
                            <td>{{ hotel[0] }}</td>
                            <td>{{ hotel[1] }}</td>
                            <td>{{ hotel[2] }}</td>
                            <td>{{ hotel[3] }}</td>
                            <td>{{ hotel[4] }}</td>
                            <td>{{ hotel[5] }}</td>
                            <td>{{ hotel[6] }}</td>
                            <td>{{ hotel[7] }}</td>
                            <td>{{ hotel[8] }}</td>
                            <td>{{ hotel[9] }}</td>
                            <td>{{ hotel[10] }}</td>
                            <td>{{ hotel[11] }}</td>
                            <td>{{ hotel[12] }}</td>
                            <td>
                                <button class="btn btn-success" onclick="editHotel({{ hotel[0] }})">Düzenle</button>
                                <button class="btn btn-danger" onclick="deleteHotel({{ hotel[0] }})">Sil</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <br>
    <br>
    <div class="footer">
        2023 Tüm telif hakları saklıdır.
    </div>

    <script>
        function editMember(id) {
            console.log('Edit member with ID ' + id);
            // Burada düzenleme işlemlerini gerçekleştirebilirsiniz
        }

        function deleteMember(id) {
            console.log('Delete member with ID ' + id);
            // Burada silme işlemlerini gerçekleştirebilirsiniz
        }
    </script>
</body>

</html>
