
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Otel Profilim</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Otel Paneli</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/otel/talepler">Talepler</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/otel/yorumlar">Yorumlar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/otel/ilanolustur">İlan Oluştur</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Ana Sayfa</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Otel Profilim</h2>
        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Otel Adı</th>
                    <th>Şehir</th>
                    <th>İlçe</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                {% if ilanlar %}
                {% for otel in oteller %}
                    <tr>
                        <td>{{ otel[0] }}</td>
                        <td>{{ otel[1] }}</td>
                        <td>{{ otel[6] }}</td>
                        <td>{{ otel[7] }}</td>
                        <td>
                            <a href="{{ url_for('ilan_duzenle', ilan_id=otel[0]) }}" class="btn btn-primary">Düzenle</a>
                            <form action="{{ url_for('ilan_sil', ilan_id=otel[0]) }}" method="post">
                                <button type="submit" class="btn btn-danger">Sil</button>
                            </form>
                                                    </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">Henüz ilanınız bulunmamaktadır.</td>    
                </tr>
                {% endif %}
                
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
